.tag {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:768px) {
  .tag {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width:425px) {
  .tag {
    font-size: 11px;
    line-height: 13px;
  }
}