.info-card {
  
}

.info-card__title {
  margin: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.info-card__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width:768px) {
  .info-card__text {
    font-size: 12px;
    line-height: 18px;
  }
}