.main {
}

.main__promo {
  padding-left: 70px;
  padding-right: 70px;
}
.main__about {
  padding-left: 70px;
  padding-right: 70px;
}
.main__techs {
  padding-left: 70px;
  padding-right: 70px;
}
.main__about-me {
  padding-left: 70px;
  padding-right: 70px;

}
.main__portfolio {
  padding-left: 70px;
  padding-right: 70px;
}