.search {
  padding: 70px 0;
  border-bottom: 1px solid #424242;
}

.search__form {
  padding: 19px 46px 19px 19px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 9px;
  background-color: #2F2F2F;
}

.search__logo {
  margin-right: 10px;
  min-width: 22px;
  height: 22px;
  background-image: url(../../images/find-input.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.search__input {
  max-width: 740px;
  width: 100%;
  margin-right: 20px;
  background-color: #2F2F2F;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  color: white;
  border: none;
  outline: none;
}

.search__input:focus {
  border-bottom: 1px solid #424242;
}

.search__button {
  padding: 0;
  min-width: 34px;
  height: 34px;
  background-image: url(../../images/find.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2F2F2F;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.search__button:hover {
  opacity: 0.8;
}


.search__delimiter {
  margin: 0 30px;
  width: 1px;
  height: 40px;
  border-left: 1px solid #424242;
}

.search__switch {
  cursor: pointer;
  display: flex;
  position: relative;
  height: 20px;
  margin-right: 161px;
  width: 36px;
}

.search__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.search__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343434;
  transition: .4s;
  border-radius: 20px;
}

.search__slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: #A0A0A0;
  border: 1px solid #FFFFFF;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.search__checkbox {
  margin-right: 52px;
}

.search__checkbox:checked+.search__slider {
  background-color: #343434;
}

.search__checkbox:checked+.search__slider:before {
  transform: translateX(16px);
  background-color: #2BE080;
}

@media (max-width: 425px) {
  .search {
    padding: 80px 0 109px;
  }

  .search__form {
    padding: 19px;
  }

  .search__input {
    font-size: 14px;
    line-height: 20px;
  }

  .search__switch {
    position: absolute;
    top: 117px;
    left: 25%;
    font-size: 11px;
    line-height: 18px;
  }

  .search__delimiter {
    display: none;
  }

  .search__logo {
    display: none;
  }
}