.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__link-login {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}

.register__link {
  margin-left: 6px;
  text-decoration: none;
  color: #4285F4;
}