.login {
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:768px) {
  .login {
    margin: 0 50px;
  }
}

@media (max-width:425px) {
  .login {
    margin: 0 14px;
  }
}